<!doctype html>
<html>
	<head>
	{% block head %}
		<title>{% block head_title %}Que comemos hoy?{% endblock %}</title>
	
		{% block head_css %}
	    	<link href="{{  asset("bundles/app/css/base.css")}}" rel="stylesheet" type="text/css" />
	    	<link href="{{  asset("bundles/app/css/core/bootstrap.css")}}" rel="stylesheet" type="text/css" />
	    	<link href="{{  asset("bundles/app/css/core/jquery-ui.css")}}" rel="stylesheet" type="text/css" />
	    	<link href="{{  asset("bundles/app/css/core/jquery.multiselect.css")}}" rel="stylesheet" type="text/css" />
	    	<link href="{{  asset("bundles/app/css/core/jquery.multiselect.filter.css")}}" rel="stylesheet" type="text/css" />
	    	<link href="{{  asset("bundles/app/css/core/multi-select.css")}}" rel="stylesheet" type="text/css" />
	    	<link href="{{  asset("bundles/app/css/core/jquery.rating.css")}}" rel="stylesheet" type="text/css" />
	    	
	    {% endblock %}
	      
    {% endblock head %}
    </head>

    <body>
        {%block body_container%}
          <div id="container">
            
            <header>
        		{% block body_container_header %}
					<div id="header">
						<div class="wrapper">
{# 							<div id="logo"><img src="{{ asset('bundles/app/img/header.jpg')}}"></div>#}
						</div>
					</div>
					{% block user_info %}
						{% if app.user %}
	 		              	<div>
								<ul id="user_info">
								    <li><a href="#">{{ app.user.username }}</a>
								       <ul>
								        <li><a href="{{ path("profile") }}">Mi Perfil</a></li>
								        <li><a href="#">Mis Grupos</a></li>
								        <li><a href="{{ path("logout") }}">Cerrar Sesi&oacuten</a></li>
								       </ul>
								    </li>
								</ul>
							</div>	
		              	{% endif %}	
	              	{% endblock %}
					
					{% block menu %}
						<div class="well" style="width: 100%;">
						
							<div class="row">
							
								<div class="col-sm-3" style="text-align: left;">
							  		<h4>{{ title|default("") }}</h4>
							  	</div>
							  	
						  		<div id="cssmenu" class="col-sm-8" align="right">
						  			{% block buttons %}
			              			{% endblock buttons %}
			              		</div>
			              		
								<div class="col-sm-1" style="text-align: right;">
									<a href="javascript:history.back()"><img  width="50" height="50" src="{{ asset('bundles/app/img/backIcon.png') }}"></a>
									<a href="{{ path('homepage') }}"><img  width="50" height="50" src="{{ asset('bundles/app/img/homeIcon.png') }}"></a>
								</div>
								
							</div>
							
						</div>
					{% endblock %}
					
					{% block console_errors %}
						<!-- Consola de Errores -->
						<div class="alert alert-danger" id="errores">
					    	<ul>{% for flashMessage in app.session.flashbag.get('error') %}<li>{{ flashMessage }}</li>{% endfor %}</ul>
					    </div>
					{% endblock %}

					{% block console_notice %}
					    <!-- Consola de Mensaje de Alerta -->
						<div class="alert alert-info" id="notices">
					    	<ul>{% for flashMessage in app.session.flashbag.get('notice') %}<li>{{ flashMessage }}</li>{% endfor %}</ul>
					    </div>
					{% endblock %}
				
				{% endblock body_container_header %}
            </header>
            
            <div role="main">
              {% block body_container_main %}{% endblock %}
            </div>
            <footer>
              {% block body_container_footer %}
			    <div id="footer">
					<div class="wrapper" >
						<div id="footer_logo" class="contenedor">
			{# 				<img src="{{ asset('bundles/sti/images/footer1.png') }}" class="izq">#}
							<div class="central"></div>
			{# 				<img src="{{ asset('bundles/sti/images/footer3.png') }}" class="der">#}
						</div>
					</div>
				</div>
              {% endblock %}
            </footer>
          </div>
          
          	{% block dialog1 %}{% endblock %}
          	{% block dialog2 %}{% endblock %}
          	{% block dialog3 %}{% endblock %}
          	
        {%endblock body_container%}


        {% block body_js %}
        
        	<script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery-2.1.4.js")}}"></script>
        	<script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery-ui.js")}}"></script>
            <script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery.blockUI.js")}}"></script>
        	<script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery.multiselect.js")}}"></script>
        	<script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery.multiselect.filter.js")}}"></script>
        	<script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery.multi-select.js")}}"></script>
        	<script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery.dataTables.js")}}"></script>
        	<script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery.rating.js")}}"></script>



            <script type="text/javascript" src="{{  asset("bundles/app/js/App.js") }}"></script>

            <script type="text/javascript">

                $(document).ready(function() {

                    window.app = new App(); //Global functions

                    window.app.init("{{ asset("") }}");

                    if ($("#errores ul li").length > 0){
                        $("#errores").show();
                    }

                    if ($("#notices ul li").length > 0){
                        $("#notices").show();
                    }

                    $("#user_info").menu({ position: { my: "right top", at: "right-1 top+35" } });
                });

            </script>

        {% endblock body_js %}

    </body>
</html>