<!doctype html>
<html>

	<head>

		<title>{% block head_title %}Que comemos hoy?{% endblock %}</title>

        <link href="{{  asset("bundles/app/css/core/bootstrap.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{  asset("bundles/app/css/core/jquery-ui.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{  asset("bundles/app/css/core/jquery.multiselect.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{  asset("bundles/app/css/core/jquery.multiselect.filter.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{  asset("bundles/app/css/core/multi-select.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{  asset("bundles/app/css/core/jquery.rating.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{  asset("bundles/app/css/core/font-awesome-4.4.0/css/font-awesome.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{  asset("bundles/app/css/base.css")}}" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery-2.1.4.js")}}"></script>
        <script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery-ui.js")}}"></script>
        <script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery.blockUI.js")}}"></script>
        <script type="text/javascript" src="{{  asset("bundles/app/js/core/bootstrap.js")}}"></script>
        <script type="text/javascript" src="{{  asset("bundles/app/js/core/jquery.dataTables.js")}}"></script>
        <script type="text/javascript" src="{{  asset("bundles/app/js/core/raty-2.7.0/lib/jquery.raty.js")}}"></script>


    </head>

    <body>
        <div id="container">

         <div class="well" style="padding-right: 3%;">
            {% block body_container_header %}

                <a href="{{ path('homepage') }}"><img style="max-height: 100px; max-width: 100px"; src="{{ asset('bundles/app/img/logo.jpg')}}"/></a>

                <div class="pull-right">
                    {% if app.user %}
                        <p>Bienvenid@, <b>{{ app.user.username }}</b>!</p>
                        <p class="pull-right"><a href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a></p>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}"><button type="button" class="btn btn-lg btn-default">Ingresar</button></a>
                        <a href="{{ path('fos_user_registration_register') }}"><button type="button" class="btn btn-lg btn-default">Registrarse</button></a>
                    {% endif %}
                </div>

            {% endblock body_container_header %}
        </div>

        <div role="main">
            {% if app.user %}
                {% block navbar %}
                    <nav class="navbar navbar-default clearfix">
                        <div class="container-fluid clearfix">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="{{ path('homepage') }}">Que comemos hoy?</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Perfil <span class="caret"></span> </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('modifyProfile') }}"> Modificar perfil </a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{{ path('myGroups') }}"> Mis grupos </a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Recetas <span class="caret"></span> </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('seleccionarRecetas') }}"> Seleccionar Recetas </a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{{ path('generateRecipe') }}"> Cargar nueva receta </a></li>
                                            <li><a href="{{ path('myRecipes') }}"> Mis recetas </a></li>
                                        </ul>
                                    </li>

                                    <li><a href="{{ path('estadisticas') }}"> Estadisticas </a></li>

                                    <li><a href="{{ path('reports') }}"> Reportes </a></li>

                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="{{ path('homepage') }}"><img  width="30" height="30" src="{{ asset('bundles/app/img/homeIcon.png') }}"></a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->

                        </div><!-- /.container-fluid -->
                    </nav>
                {% endblock navbar %}
            {% endif %}

            {% block body_container_main %}

                <div class="alert alert-success">
                    <ul>{% for flashMessage in app.session.flashbag.get('notice') %}<li>{{ flashMessage }}</li>{% endfor %}</ul>
                </div>

                {% block fos_user_content %}
                {% endblock %}

            {% endblock %}
        </div>
        <footer>
          {% block body_container_footer %}
          {% endblock %}
        </footer>
        </div>

        {% block body_js %}

            <script type="text/javascript" src="{{  asset("bundles/app/js/App.js") }}"></script>

            <script type="text/javascript">

                $(document).ready(function() {

                    window.app = new App(); //Global functions

                    window.app.init("{{ asset("") }}");

                });

            </script>

        {% endblock body_js %}

    </body>
</html>