{% extends "base.html.twig" %}

{% block body_container_main %}

    <!-- Reomendaciones diarias -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Que comemos hoy?<i> - Recomendaciones del día</i></h3>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th>Receta</th>
                    <th style="width: 50%;">Dificultad</th>
                <tr>
                    {% for t in data.recomendados %}
                <tr>
                    <td><a href="{{ t.receta.url }}">{{ t.receta.nombre }}</a></td>
                    <td style="width: 50%;">{{ t.dificultad }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <hr>

    <!-- Ranking -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ranking<i> - Las recetas más visitadas</i></h3>
        </div>

        <div class="panel-body">
            <table id="tablaRanking" class="table table-bordered">
                <tr>
                    <th style="width: 50%;">Receta</th>
                    <th style="width: 50%;">Visitas</th>
                <tr>
                    {% for t in data.ranking %}
                <tr>
                    <td><a href="{{ t.receta.url }}">{{ t.receta.nombre }}</a></td>
                    <td>{{ t.visitas }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock body_container_main %}