{% extends "base.html.twig" %}

{% block body_container_main %}

    <div class="panel panel-primary">

        <div class="panel-heading"></div>

        <div class="panel-body">
            <i><b><h3 style="color: #637CBA;">{{ nombre }}</h3></b></i>
            por {{ owner.nombre }} {{ owner.apellido }}.

            <div class="pull-right" style="display: inline-block; border: solid 1px red; border-radius: 4px; padding: 4px;"> Califica esta receta:
                <div style="display: inline-block;" id="calif"></div>
            </div>

            <hr>

            <div class="panel panel-default">
                <div class="panel-heading">Detalles</div>
                <div class="panel-body">

                    <div style="float:left; width:50%;">

                        Temporada: {{ temporada }}

                        <hr>

                        Dificultad: {{ dificultad }}

                        <hr>

                        <div style="display: inline-block;"> Calificacion: <div class="stars" style="display: inline-block;" title="{{ calificacion }}"></div> </div>

                        <hr>

                    </div>

                    <div style="float:right; width:50%;">

                        Calorías: {{ calorias }}

                        <hr>

                        <div style="float:left; width:50%;">

                            Ingredientes:
                            <ul>
                                {% for i in ingredientes %}
                                    <li>{{ i.nombre }} : {{ i.cantidad }} {{ i.unidad }}.</li>
                                {% endfor %}
                            </ul>

                        </div>

                        <div style="float:right; width:50%;">
                            {% if condimentos %}
                            Condimentos:
                            <ul>
                                {% for c in condimentos %}
                                    <li>{{ c }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>


                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Pasos</div>
                <div class="panel-body">

                    {% if paso1 %}
                        <div class="panel panel-default" style="clear:both">
                            <div class="panel-heading"><b>Paso 1</b></div>
                            <div class="panel-body">
                                <div class="pull-left" style="width:50%;">
                                    <p>{{ paso1 }}</p>
                                </div>

                                <div class="pull-right" style="width:50%;">
                                    {% if foto1 %}
                                        <img class="pull-right" src={{ foto1 }} height="300" width="400">
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <hr>
                    {% endif %}


                    {% if paso2 %}
                        <div class="panel panel-default" style="clear:both">
                            <div class="panel-heading"><b>Paso 2</b></div>
                            <div class="panel-body">
                                <div class="pull-left" style="width:50%;">
                                    {% if foto2 %}
                                        <img src={{ foto2 }} height="300" width="400">
                                    {% endif %}
                                </div>

                                <div class="pull-right" style="width:50%;">
                                    <p>{{ paso2 }}</p>
                                </div>
                            </div>
                        </div>

                        <hr>
                    {% endif %}


                    {% if paso3 %}
                        <div class="panel panel-default" style="clear:both">
                            <div class="panel-heading"><b>Paso 3</b></div>
                            <div class="panel-body">
                                <div class="pull-left" style="width:50%;">
                                    <p>{{ paso3 }}</p>
                                </div>

                                <div class="pull-right" style="width:50%;">
                                    {% if foto3 %}
                                        <img class="pull-right" src={{ foto3 }} height="300" width="400">
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <hr>
                    {% endif %}


                    {% if paso4 %}
                        <div class="panel panel-default" style="clear:both">
                            <div class="panel-heading"><b>Paso 4</b></div>
                            <div class="panel-body">
                                <div class="pull-left" style="width:50%;">
                                    {% if foto4 %}
                                        <img src={{ foto4 }} height="300" width="400">
                                    {% endif %}
                                </div>

                                <div class="pull-right" style="width:50%;">
                                    <p>{{ paso4 }}</p>
                                </div>
                            </div>
                        </div>

                        <hr>
                    {% endif %}

                    {% if paso5 %}
                        <div class="panel panel-default" style="clear:both">
                            <div class="panel-heading"><b>Paso 5</b></div>
                            <div class="panel-body">
                                <div class="pull-left" style="width:50%;">
                                    <p>{{ paso5 }}</p>
                                </div>

                                <div class="pull-right" style="width:50%;">
                                    {% if foto5 %}
                                        <img class="pull-right" src={{ foto5 }} height="300" width="400">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}


                </div>

            </div>

        </div>

    </div>


{% endblock body_container_main%}	

{% block body_js %}

    {{ parent() }}
    
    <script type="text/javascript">
    	
		$(document).ready(function() {

            $('.stars').each(function(){
                var cant = this.title;
                $(this).raty({ readOnly: true, score: cant });
            })

            $('#calif').raty({
                click: function(score, evt) {

                    $.ajax({
                        type: 'POST',
                        data:{
                            'id' : {{ id }},
                            'puntaje' : score
                        },
                        url: "{{ path('calificarReceta') }}"
                    })

                }
            });
	
		});

	</script>	

{% endblock body_js %}

