{% extends "base.html.twig" %}

{% block body_container_main %}
	<form class="form-horizontal" role="form">

		<div class="panel panel-primary">
		
			<div class="panel-heading"></div>
			
			<div class="panel-body">
                <i><b><h3 style="color: #637CBA;">{{ nombre }}</h3></b></i>

                <div id="paso1wrap">
                    <div style="float:left; width:50%;">
                        {% if paso1 is not null %}
                            <p>{{ paso1 }}</p>
                        {% endif %}
                    </div>

                    <div style="float:right; width:50%;">
                        {% if foto1 is not null %}
                            <img src={{ foto1 }} height="300" width="400">
                        {% endif %}
                    </div>
                </div>

                <div id="paso2wrap">
                    <div style="float:left; width:50%;">
                        {% if paso2 is not null %}
                            <p>{{ paso2 }}</p>
                        {% endif %}
                    </div>

                    <div style="float:right; width:50%;">
                        {% if foto2 is not null %}
                            <img src={{ foto2 }} height="300" width="400">
                        {% endif %}
                    </div>
                </div>

                <div id="paso3wrap">
                    <div style="float:left; width:50%;">
                        {% if paso3 is not null %}
                            <p>{{ paso3 }}</p>
                        {% endif %}
                    </div>

                    <div style="float:right; width:50%;">
                        {% if foto3 is not null %}
                            <img src={{ foto3 }} height="300" width="400">
                        {% endif %}
                    </div>
                </div>

                <div id="paso4wrap">
                    <div style="float:left; width:50%;">
                        {% if paso4 is not null %}
                            <p>{{ paso4 }}</p>
                        {% endif %}
                    </div>

                    <div style="float:right; width:50%;">
                        {% if foto4 is not null %}
                            <img src={{ foto4 }} height="300" width="400">
                        {% endif %}
                    </div>
                </div>

                <div id="paso5wrap">
                    <div style="float:left; width:50%;">
                        {% if paso5 is not null %}
                            <p><p>{{ paso5 }}</p>
                            </p>
                        {% endif %}
                    </div>

                    <div style="float:right; width:50%;">
                        {% if foto5 is not null %}
                            <img src={{ foto5 }} height="300" width="400">
                        {% endif %}
                    </div>
                </div>

            </div>
			
		</div>
		
		<div class="panel panel-primary" style="width:50%;">
			<div class="panel-body">
				<div style="float:left; width:50%;">
					Calificar esta receta
				</div>
				<div style="float:right; width:50%;">
					<input name='star' type='radio'class='star'>
					<input name='star' type='radio'class='star'>
					<input name='star' type='radio'class='star'>
					<input name='star' type='radio'class='star'>
					<input name='star' type='radio'class='star'>
				</div>
			</div>
		</div>	

	</form>

{% endblock body_container_main%}	

{% block body_js %}

    {{ parent() }}
    
    <script type="text/javascript">
    	
		$(document).ready(function() {
	    
	   		$(".star").rating();
	
		});

	</script>	

{% endblock body_js %}

