{% extends "base.html.twig" %}

{% block body_container_main %}
	
		<div class="panel panel-primary">
				
			<div class="panel-heading">
    			<h3 class="panel-title">Filtros de B&uacute;squeda</h3>
  			</div>

			<div class="panel-body">

				<div style="float:left; width:50%;">

					<div class="form-group">
				    	<label for="nombre" class="control-label col-sm-3">Nombre:</label>
				    	<div class="col-sm-7">
							<input id="nombre" type="text" class="form-control col-xs-4 col-lg-1" name="nombre" placeholder=" Ingrese Nombre de la Receta">
						</div>
					</div>

					<div class="form-group">
				    	<label for="temporada" class="control-label col-sm-3">Temporada:</label>
						<div class="col-sm-7">
							<select id="temporada" class="form-control col-lg-2" name="temporada">
                                <option value="" selected>Cualquier Temporada</option>
								{% for temporada in data.temporadas %}
                                    <option value="{{ temporada.id }}">{{ temporada.nombre }}</option>
                                {% endfor %}
							</select>
						</div>
					</div>

                    <div class="form-group">
                        <label for="clasificacion" class="control-label col-sm-3">Clasificación:</label>
                        <div class="col-sm-7">
                            <select id="clasificacion" class="form-control col-lg-2" name="clasificacion">
                                <option value="" selected>Cualquier Clasificación</option>
                                {% for clasificacion in data.clasificaciones %}
                                    <option value="{{ clasificacion.id }}">{{ clasificacion.descripcion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

				</div>
				
				
				<div style="float:right; width:50%;">	 
				
					<div class="form-group">
				    	<label for="calorias" class="control-label col-sm-3">Calor&iacute;as:</label>
				    	<div id="calorias" class="col-sm-7">
				    		<div class="col-sm-3">
								<input id="caloriasDesde" type="text" class="form-control" name="caloriasDesde" placeholder="Desde">
							</div>
							<div class="col-sm-3">
								<input id="caloriasHasta" type="text" class="form-control" name="caloriasHasta" placeholder="Hasta">
							</div>
						</div>
					</div>
					
					<div class="form-group">
				    	<label for="dificultad" class="control-label col-sm-3">Dificultad:</label>
						<div class="col-sm-7">
							<div class="col-sm-12">
								<select id="dificultad" type="text" class="form-control col-lg-2" name="dificultad">
                                    <option value="" selected>Cualquier Dificultad</option>
                                    {% for dificultad in data.dificultades %}
                                        <option value="{{ dificultad.id }}">{{ dificultad.descripcion }}</option>
                                    {% endfor %}
								</select>	
							</div>
						</div>	 
					</div>

                    <div class="form-group">
                        <label for="grupoAlimenticio" class="control-label col-sm-3">Grupo Alimenticio:</label>
                        <div class="col-sm-7">
                            <div class="col-sm-12">
                                <select id="grupoAlimenticio" class="form-control col-lg-2" name="grupoAlimenticio">
                                    <option value="" selected>Cualquier Grupo Alimenticio</option>
                                    {% for grupoAlimenticio in data.gruposAlimenticios %}
                                        <option value="{{ grupoAlimenticio.id }}">{{ grupoAlimenticio.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
				
				</div>	
				
			</div>
			
			
			<div class="panel-footer" style="overflow: hidden;">
				<input type="button" id="buscar" value="Buscar" class="btn btn-default" style="float: right;">
				<input type="button" id="limpiar" value="Limpiar" class="btn btn-default" style="float: right; margin-right: 10px;">
			</div>
			
			
		</div>

		
	
	
	<div class="panel panel-default">

		<div class="panel-heading">
    		<h3 class="panel-title">Seleccionar Receta</h3>
  		</div>
  					
		<div class="panel-body">
			<table id="tablaRecetas" class="table table-bordered">	
				<thead>
					<tr>
					  <th>Nombre</th>
					  <th>Temporada</th>	
					  <th>Dificultad</th>
					  <th>Calor&iacute;as por porci&oacute;n</th>	
					  <th>Calificaci&oacute;n</th>
					  <th>Acciones</th>
					</tr>
			   </thead>
			</table>
		</div>
		
	</div>	

{% endblock body_container_main%}	

{% block body_js %}

    {{ parent() }}
    
    <script type="text/javascript">
    	
		$(document).ready(function() {

			var printStars = function(cant){

                return '<div class="rat" title="'+cant+'"></div>';

			}

            function eventsOnCallback() {

                return(

                        $('.add').click(function() {

                            var button = $(this);
                            var row = button.parent().parent(); // button - td - tr
                            var id = table.row(row).data().id;

                            var loadingurl = app.root+"bundles/app/img/loading.gif";
                            var checkurl = app.root+"bundles/app/img/check_on.png";

                            var loadingImg = $('<img src='+loadingurl+' />');
                            button.replaceWith(loadingImg);

                            $.ajax({
                                type: 'POST',
                                data:{
                                    'id' : id
                                },
                                url: "{{ data.url.agregarAPerfil }}"
                            }).success(function(data, textStatus, jqXHR){

                                loadingImg.replaceWith('<img src='+checkurl+' />');

                            });

                        })
                );

            }

			var table = $("#tablaRecetas").DataTable({
							"dom" : 't',
							"autoWidth" : true,
					        "columns": [
					                    { "data": "nombre"},
					                    { "data": "temporada" },
					                    { "data": "dificultad" },
					                    { "data": "calorias" },
					                    { "data": "calificacion", "render": function ( data, type, full, meta ) {return printStars(data)}},
					                    { "data": null, "render": function ( data, type, full, meta ) {return app.createIcon("add", "Agregar al Perfil")} }

					                ],
                            "drawCallback": function(settings, json) {
                                eventsOnCallback();
                            }

            });

			$('#buscar').click(function() {

                app.showLoading("Buscando recetas");

				 $.ajax({
						type: 'POST',
						data:{
                            'nombre' : $("#nombre").val(),
                            'temporada' : $("#temporada").val(),
                            'caloriasDesde' : $("#caloriasDesde").val(),
                            'caloriasHasta' : $("#caloriasHasta").val(),
                            'dificultad' : $("#dificultad").val(),
                            'clasificacion' : $("#clasificacion").val(),
                            'grupoAlimenticio' : $("#grupoAlimenticio").val()
                        },
						url: "{{ path('buscarRecetas') }}"
					}).success(function(data, textStatus, jqXHR){

                        app.hideLoading();
						table.clear();
						table.rows.add(data).draw();

                        //$('.rat').raty({ readOnly: true, score: this.title });
                        $('.rat').each(function(){
                            var cant = this.title;
                            $(this).raty({ readOnly: true, score: cant });
                        })

                 });

			});




        });

	</script>		

{% endblock body_js %}

