{% extends "base.html.twig" %}

{% block body_container_main %}

    <style type="text/css">

        .left {
             height: 100%;
             width: 29%;
             float: left !important;
         }

        .right {
            height: 100%;
            width: 69%;
            float: right !important;
        }

        .left-half {
            height: 100%;
            width: 49%;
            float: left !important;
        }

        .right-half {
            height: 100%;
            width: 49%;
            float: right !important;
        }


    </style>

    <div style="height: 100%; width: 100%;">
        <form role="form" method="post">

            <div class="left">

                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <label class="panel-title"> Nueva Receta </label>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label for="nombre" class="control-label"> Nombre: </label>
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="El nombre de tu receta">
                        </div>

                        <div class="form-group">
                            <label for="dificultad" class="control-label"> Dificultad: </label>
                            <select id="dificultad" name="dificultad" class="form-control">
                                {% for dificultad in dificultades %}
                                    <option value="{{ dificultad.id }}">{{ dificultad.descripcion }}</option>
                                {%  endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="temporada" class="control-label"> Temporada: </label>
                            <select id="temporada" name="temporada" class="form-control">
                                {% for temporada in temporadas %}
                                    <option value="{{ temporada.id }}">{{ temporada.nombre }}</option>
                                {%  endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="condiciones" class="control-label"> Apto para: </label>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% for condicion in condiciones %}
                                    <input type="checkbox" id="{{ condicion.id }}"  name="{{ condicion.id }}"> {{ condicion.nombre }} <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div style="height: 800px;" class="right">

                <div class="panel panel-primary" style="height: 100%">

                    <div class="panel-heading">
                        <label class="panel-title"> Ingredientes y Condimentos </label>
                    </div>

                    <div class="panel-body">

                        <div class="panel panel-default left-half">

                            <div class="panel-heading">
                                <label class="panel-title"> Buscador de Ingredientes </label>
                            </div>

                            <div class="panel-heading">
                                <label for="ingrediente-input" class="control-label">Ingrediente a buscar:</label>
                                <input type="text" id="ingrediente-input" class="input-sm" placeholder="Nombre del ingrediente">
                            </div>

                            <div id="ingredientesDisponibles" class="panel-body" style=" height: 630px; overflow-y: scroll;">
                                {% for ingrediente in ingredientes %}
                                    <div>
                                        <button id="{{ ingrediente.id }}" class="btn btn-lg ingrediente"  value="{{ ingrediente.nombre }}" style="width: 100%; margin-bottom: 10px">
                                            {{ ingrediente.nombre }}
                                            <i class="fa fa-caret-square-o-right pull-right"></i>
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                        <div class="panel panel-default right-half">

                            <div class="panel-heading">
                                <label class="panel-title"> Ingredientes de la receta </label>
                            </div>

                            <div class="panel-body" style=" height: 680px; overflow-y: scroll;">
                                <div id="ingrediente-container">

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </form>

    </div>

{% endblock body_container_main %}

{% block body_js %}

    {{ parent() }}
    
    <script type="text/javascript">
    	
		$(document).ready(function() {

            $(document).on('click', '.ingrediente-agregado', function(){
                $("#ingredientesDisponibles").find("button[value='"+this.value+"']").removeClass('hide');
                $(this).parent().remove();
            });

            $(".ingrediente").click(function(e){
                e.preventDefault();
                $(this).addClass('hide');
                var ingredienteTemplate = '<div><button value="'+this.value+'" type="button" id="'+this.id+'" class="btn btn-lg ingrediente-agregado" style="width: 70%; margin-bottom: 10px">'+this.value+'</button><input style="width:100px; margin-left: 20px" type=number id=cant'+this.id+'></div>';
                $("#ingrediente-container").append(ingredienteTemplate);
            });



		});

	</script>	

{% endblock body_js %}

