{% extends "base.html.twig" %}

{% block head_css %}
	{{ parent() }}
	<style type="text/css">
		
		#basicFormPanel{
			min-width: 350px !important;
			max-width: 600px !important;
			margin-left: auto ;
  			margin-right: auto ;
		}
		
		.boton{
			margin-left: 85% ;
		}
		
		.inline{
			display: inline-block;
		}
		
		.dragContainer{
			width: 150px; 
			height: 150px; 
			padding: 0.5em; 
			float: left; 
			margin: 10px;
			border: 1px solid;
		}
		
		.dropContainer{
			width: 150px; 
			height: 150px; 
			padding: 0.5em; 
			float: right; 
			margin: 10px;
			border: 1px solid;
		}

	</style>
{% endblock %}

{% block body_container_main %}

	<div id="basicFormPanel" class="panel panel-default form-group">
 		
 		<div class="panel-heading well"> <b>{{ title }}</b> </div>
 	
 		<div class="panel-body">
	
		{% if config.display == "accordion" %}
			<div id="accordion">
		
			{% for set in fieldsets %}
				<h3>{{ set.title }}</h3>
				<div>
					{% for field in set.fields %}
						
						{% if field.type == "input" %}
							<div class="form-group">
							    <label for="{{ field.idName }}">{{ field.label }}</label>
							    <input type="text" class="form-control" id="{{ field.idName }}" name="{{ field.idName }}" placeholder="{{ field.placeholder }}"/>
							</div>
						{% endif %}
						
						{% if field.type == "select" %}
							<div class="form-group">
							    <label for="{{ field.idName }}">{{ field.label }}:</label>
							    <select id="{{ field.idName }}" name="{{ field.idName }}" class="form-control">
							    	{% for option in field.options %}
							  	   		<option value="{{ option.value }}">{{ option.name }}</option>
								   {% endfor %}
								</select>   
							</div>
						{% endif %}
						
						{% if field.type == "multiselect" %}
							<div class="form-group">
							    <label for="{{ field.idName }}">{{ field.label }}:</label>
							    <select multiple="multiple" id="{{ field.idName }}" name="{{ field.idName }}" class="form-control multiselect">
							    	{% for option in field.options %}
							  	   		<option value="{{ option.value }}">{{ option.name }}</option>
								   {% endfor %}
								</select>   
							</div>
						{% endif %}
						
						{% if field.type == "draganddrop" %} <!-- FIXME -->
							
							<div class="well inline dragContainer">
								<div class="">
									{% for item in field.draggables %}
										<div id="{{ item.id }}" class="draggable btn-default">{{ item.text }}</div>
									{% endfor %}
								</div>
							</div>
								
							<div class="well inline dropContainer">
								<p>drop zone</p>
							</div>
						
						{% endif %}
						
				    {% endfor %}
				 </div>
				    
			 {% endfor %}  
	   		</div>
	   	{% endif %}
	   		
	    </div>
	    
		<div class="panel-footer">
		
		    {% for button in buttons %}
 				<button type="{{ button.type }}" id="sendData" class="boton btn btn-default">{{ button.text }}</button>
		    {% endfor %}
		    
		</div>
			
{# 		</form>#}
			
	 </div>   

{% endblock body_container_main %}

{% block body_js %}

    {{ parent() }}
    
    <script type="text/javascript">
    	
		$(document).ready(function() {

            //INIT

			$("#accordion").accordion({
				header: "h3",
				collapsible: true,
				active: false
				
			});

            //MULTISELECT INIT

			{% for set in fieldsets %}
				{% for field in set.fields %}
				
					{% if field.type == "multiselect" %}
						var {{ field.idName }} = new Array();
			
						$("#{{ field.idName }}").multiSelect({
							  afterSelect: function(values){
								  {{ field.idName }}.push(values);
								  },
							  afterDeselect: function(values){
								  if ({{ field.idName }}.indexOf(values) > -1) {
									  {{ field.idName }}.splice({{ field.idName }}.indexOf(5), 1);
									}
								  },
						});
					{% endif %}	
	
				{% endfor %}
			{% endfor %}
			
			$('.multiselect').multiSelect('deselect_all');

			
			$(".draggable").draggable({
				appendTo: "parent",
				revert: "invalid",
			}); 
			
		    $(".dropContainer").droppable({
		        drop: function( event, ui ) {
		        }
		    });
		    
		    $(".dragContainer").droppable({
		        drop: function( event, ui ) {
		        }
		    });

            //END MULTISELECT INIT


            //WRITE DATA

            {% for set in fieldsets %}
                {% for field in set.fields %}

                    {% if field.value is defined %}

                        {% if field.type == "input" or field.type == "select" %}
                        $("#{{ field.idName }}").val( "{{ field.value }}" );
                        {% endif %}

                    {% endif %}

                {% endfor %}
            {% endfor %}


            //END WRITE DATA


		    $('#sendData').click(function() {

                app.showLoading("Guardando datos");

				{% for set in fieldsets %}
					{% for field in set.fields %}
					
						{% if (field.type == "input") or (field.type == "select") %}
							var {{ field.idName }} = $("#{{ field.idName }}").val();
						{% endif %}	
						
					{% endfor %}
				{% endfor %}

			    $.ajax({
					type: 'POST',
					data:{
						{% for set in fieldsets %}
							{% for field in set.fields %}
								{{ field.idName }}:{{ field.idName }},
							{% endfor %}
						{% endfor %}
					},
					url: "{{ path(config.routename) }}"
				}).success(function(data, textStatus, jqXHR){
					window.location.href = data;
				});
				
		    });

		});	        

	</script>

{% endblock body_js %}