{% extends "base.html.twig" %}

{% block head_css %}
	{{ parent() }}
	<style type="text/css">
		
		#basicFormPanel{
			min-width: 350px !important;
			max-width: 600px !important;
			margin-left: auto ;
  			margin-right: auto ;
		}
		
		.boton{
			margin-left: 85% ;
		}

	</style>
{% endblock %}

{% block body_container_main %}

	<div id="basicFormPanel" class="panel panel-default form-group">
 		
		<form action="{{ path(options.routename) }}"method="post">
	 	
	 		<div class="panel-body">
		
				{% for field in fields %}
					
					{% if field.type == "input" %}
						<div class="form-group">
						    <label for="{{ field.idName }}">{{ field.label }}</label>
						    <input type="text" class="form-control" id="{{ field.idName }}" name="{{ field.idName }}" placeholder="{{ field.placeholder }}"/>
						</div>
					{% endif %}
					
					{% if field.type == "select" %}
						<div class="form-group">
						    <label for="{{ field.idName }}">{{ field.label }}:</label>
						    <select id="{{ field.idName }}" name="{{ field.idName }}" class="form-control">
						    	{% for option in field.options %}
						  	   		<option value="{{ option.value }}">{{ option.name }}</option>
							   {% endfor %}
							</select>   
						</div>
					{% endif %}
					
			    {% endfor %}
		    
		    </div>
		    
			<div class="panel-footer">
			
			    {% for button in buttons %}
 					    <button type="{{ button.type }}" class="boton btn btn-default">{{ button.text }}</button>
			    {% endfor %}
			    
			</div>
			
		</form>
			
	 </div>   

{% endblock body_container_main %}